/* Strictly to set the background color of the html document */
html{
    background-color:cadetblue;
}

/* wild card */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* setting initial spacing for words and their padding from each other*/
p, h2, h3, h4 {
    padding: 10px;
    word-spacing: 2;
    width: 500px;
}
h3{
    text-decoration: underline;
}
p{
    font-size: larger;
    
}

/* This is to set up the navigation page links to a nicer design */
nav{
    align-items: flex-end;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

/* A background div for a title atop a ticket */
#title-tag {
    margin: auto;
    background-color: rgb(37, 177, 100);
    border:  2px solid black;
    width: 60%;
    height: 25%;
    text-align: center;
    padding: 15px;
}

/* A div designed to look like a ticket */
#ticket{
    background-color: beige;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%; 
    height: auto; 
    margin: auto; 
    border: 2px solid black;
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: large;
}

.box{
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translateY(-30%);
    background-color: rgba(216, 176, 127, 0.8);
    width: 40vw;
    height: 40vh;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 35%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 1);
}

/* Strictly for identifying text elements to give them an underline decoration */
#underline{
    text-decoration: underline;
}

/* for top nav bar */
.nav-bar{
    margin: auto;
    background-color: cadetblue;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 10%;
    box-shadow: 0 10px 10px 5px #3a3a3a;
    border: top 10px solid black;
    display: flex;
    justify-content: space-between;
    align-items: baseline center;
    padding-left: 17%
}
.nav-bar > h1{
    text-transform: capitalize;
    padding-left: 20%;
    padding-top: 20px;
}

.nav-bar-middle{
    background-color: rgb(216, 176, 127);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

/* for the hero image */
#Hero{
    height: 700px;
    width: 100%;
    background: url("../images/scouts.png") no-repeat center center/cover;
    background-position: top center;
    position: relative;
    border-bottom: #3a3a3a 10px solid;
}
#Tank{
    height: 700px;
    width: 100%;
    background: url("../images/tank.png") no-repeat center center/cover;
    background-position: top center;
    position: relative;
    border-top: #3a3a3a 10px solid;
}
#Ghillie{
    height: 700px;
    width: 100%;
    background: url("../images/ghillie.png") no-repeat center center/cover;
    background-position: top center;
    position: relative;
    border-top: #3a3a3a 10px solid;
    border-bottom: #3a3a3a 10px solid;
}

/* For the message box on hero image*/
.hero-div{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-right: 20%;
}

/* For the main body of my html page */
.container{
    background-color: rgb(216, 176, 127);
    width: 65%;
    height: 100%;
    margin: auto;
    padding-top: 8%;
}

/* For the box around the cars */
.car-box{
    
    width: 65%;
    margin: auto;
    padding: 10px;
    padding-bottom: 25px;
    border: #3a3a3a 8px dotted;
    border-radius: 15px;
}



/* for images on the page */
.card {
    display: flex;
    background-color: rgb(216, 176, 127);
    width: 100%;
    border: 2.5px solid black;
    border-radius: 15px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 1);
    display: flex;
    align-items: center; /* vertically center the items */
    gap: 1rem;
    padding: 1rem;
}

.img {
    width: 500px;
    height: auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    z-index: 0;
}

.text-content {
    display: inline;
    flex: 1;
    padding: 0 10%;
    text-align: center;
    z-index: 1;
    width: auto;
}

.footer{
    margin: auto;
    background-color: cadetblue;
    padding: 0 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    box-shadow: 0 10px 10px 10px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline center;
    padding-left: 17%;
    z-index: 99;
}

.empty{
    height: 200px;
    width: 100%;
    background-color: cadetblue;
}



